<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="button-row">
        <h4>Select2</h4>
        <a mat-raised-button color="primary" [routerLink]="['/select/basic']">Basic</a>
        <a mat-raised-button color="accent" [routerLink]="['/select/change']">Change</a>
        <a mat-raised-button color="primary" [routerLink]="['/select/dynamic']">Dynamic</a>
        <a mat-raised-button color="accent" [routerLink]="['/select/matcher']">matcher</a>
        <a mat-raised-button color="primary" [routerLink]="['/select/multiple']">multiple</a>
        <a mat-raised-button color="accent" [routerLink]="['/select/options']">options</a>
        <a mat-raised-button color="primary" [routerLink]="['/select/template']">template</a>
        <br>
        <br>
        <h4>Material design</h4>
        <a mat-raised-button color="primary" [routerLink]="['/material/button']">button</a>
        <a mat-raised-button color="accent" [routerLink]="['/material/input']">input</a>
        <a mat-raised-button color="warn" [routerLink]="['/material/theme']">theme</a>
      </div>
    </div>
  </div>
</div>
