<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <br>
      <h4>Theme</h4>
      <mat-card>
        Main Theme:
        <button mat-raised-button color="primary">
          Primary
        </button>
        <button mat-raised-button color="accent">
          Accent
        </button>
        <button mat-raised-button color="warn">
          Warning
        </button>
      </mat-card>

      <mat-card class="pooldax-theme">
        Pooldax Theme:
        <button mat-raised-button color="primary">
          Primary
        </button>
        <button mat-raised-button color="accent">
          Accent
        </button>
        <button mat-raised-button color="warn">
          Warning
        </button>
      </mat-card>
    </div>
  </div>
</div>