<div class="button-row">
  <h4>Select2</h4>
  <a mat-raised-button color="primary" [routerLink]="['/select/basic']">Basic</a>
  <a mat-raised-button color="accent" [routerLink]="['/select/change']">Change</a>
  <a mat-raised-button color="primary" [routerLink]="['/select/dynamic']">Dynamic</a>
  <a mat-raised-button color="accent" [routerLink]="['/select/matcher']">matcher</a>
  <a mat-raised-button color="primary" [routerLink]="['/select/multiple']">multiple</a>
  <a mat-raised-button color="accent" [routerLink]="['/select/options']">options</a>
  <a mat-raised-button color="primary" [routerLink]="['/select/template']">template</a>
</div>
