// @import '~@angular/material/theming';
@import 'theming';
@include mat-core();
$pooldax-primary: mat-palette($mat-pooldax, 50);
$pooldax-accent: mat-palette($mat-pooldax, 100);
$pooldax-warn: mat-palette($mat-amber, 700);
$pooldax-theme: mat-light-theme( $pooldax-primary, $pooldax-accent, $pooldax-warn);
.pooldax-theme {
  @include angular-material-theme($pooldax-theme);
}
